In [1]:
import pandas as pd

merged_df = pd.read_csv('merged_df.csv')
print(merged_df.shape)
merged_df.info()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/tmp/ipykernel_33173/3194799562.py:3: DtypeWarning: Columns (1,2,4,6,13,14,15,16,17,22,29,30,34,38,39,40,41,43,45,47,49,50,52,55,57,59,60,61,62,63,64,65,66,67,69,71,73,75,76,81,87,89,91,92,93,94,96,99,102,106,108,111,113,114,117,119,121,123,124,125,132,137,142,143,146,147,148,150,152,153,155,157,158,159,161,162,163,165,166,167,171,172,173,174,175,176,177,178,179,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,213,214,215,216,217,219,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,242,245,246,247,248,249,250,252,253,254,255,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,286,288,289,290,291,292,295,296,297,298,299,300,301,302,303,304,305,306,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,334,339,345,346,348,349,351,352,354,355,357,358,359,361,362,363,365,366,367,369,370,373,374,375,378,379,380,383,384,385,388,389,390,393,394,395,396,398,400,401,403,405,406,407,409,411,413,414,415,416,417,418,419,420,421,423,425,427,429,430,431,433,436,439,444,446,448,450,451,454,457,459,461,462,465,468,471,472,473,474,475,478,484,489,490,491,498,499,500,501,504,507,510,511,512,514,516,518,519,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,576,577,578,579,580,581,582,583,584,585,586,587,589,591,592,593,594,595,596,597,598,599,600,601,603,604,612,616,617,618,621,622,623,624,638,639,640,642,646,647,650,653,654,655,656,657,658,659,660,906,908,910,912,914,916,918,920,922,924,925,927,931,933,934,935,936,937,941,945,947,951,955,956,960,961,962,963,982,992,1008,1009,1013,1017,1021,1025,1029,1033,1037,1038,1039,1040,1041,1044,1045,1046,1047,1048,1049,1050,1051,1057,1059,1060,1061,1062,1063,1064,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1087,1088,1089,1090,1091,1092,1093,1095,1096,1097,1098,1099,1100,1101,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1120,1122,1124,1126,1128,1129,1131,1133,1134,1135,1137,1138,1139,1141,1142,1143,1145,1146,1147,1149,1150,1151,1153,1154,1155,1157,1158,1159,1161,1162,1163,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1198,1199,1200,1201,1202,1203,1204,1208,1209,1210,1211,1213,1214,1217,1218,1221,1222,1223,1224,1225,1227,1229,1230,1231,1232,1258,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1292,1294,1295,1297,1300,1301,1303,1304,1306,1307,1309,1310,1313,1317,1319,1320,1322,1326,1328,1329,1331,1335,1337,1338,1340,1344,1346,1347,1352,1354,1355,1356,1357,1550,1553,1555,1556,1557,1558,1560,1561,1562,1564,1565,1566,1568,1569,1570,1572,1573,1574,1576,1577,1578,1580,1581,1582,1583,1584,1585,1586,1588,1589,1590,1592,1593,1594,1596,1597,1598,1600,1601,1602,1604,1605,1606,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1620,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1658,1659,1660,1661,1662,1663,1664,1666,1667,1668,1669,1670,1671,1672,1674,1675,1676,1678,1679,1680,1681,1682,1683,1684,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1716,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1734,1735,1736,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1752,1754,1755,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1821,1822,1823,1824,1825,1828,1829,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1873,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1886,1888,1889,1890,1891,1892,1893,1894,1897,1902,1910,1911,1912,1913,1917,1918,1922,1924,1931,1932,1933,1934,1935,1936,1943,1951,1954,1957,1960,1962,1963,1967,1968,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1983,1985,1992,1997,2004,2005,2008,2009,2012,2013,2016,2017,2020,2021,2024,2025,2028,2029,2032,2033,2037,2038,2042,2043,2047,2048,2052,2053,2057,2058,2061,2063,2064,2065,2066,2067,2068,2070,2072,2073,2074,2075,2077,2080,2081,2083,2084,2087,2088,2089,2091,2092,2093,2096,2097,2098,2100,2101,2107,2108,2112,2113,2114,2115,2116,2117,2118,2119,2120,2122,2124,2125,2127,2129,2131,2133,2135,2137,2139,2141,2143,2146,2148,2150,2152,2153,2158,2159,2165,2174,2186,2187,2188,2190,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2216,2219,2220,2221,2222,2225,2226,2227,2228,2232,2233,2234,2235,2239,2240,2241,2242,2246,2247,2248,2249,2252,2289,2290,2291,2293,2294,2298,2307,2308,2309,2326,2327,2331,2332,2336,2337,2341,2342,2346,2347,2351,2352,2356,2357,2358,2362,2363,2364,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2385,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2471,2474,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2523,2529,2533,2536,2537,2538,2541,2544,2546,2547,2549,2552,2554,2557,2559,2560,2562,2563,2565,2566,2568,2569,2571,2572,2576,2577,2580,2584,2587,2591,2594,2598,2601,2605,2608,2612,2615,2619,2622,2626,2628,2629,2631,2635,2637,2638,2640,2644,2646,2647,2649,2653,2655,2656,2658,2662,2664,2665,2667,2671,2673,2674,2676,2680,2682,2683,2685,2689,2691,2692,2694,2698,2700,2701,2703,2705,2707,2708,2713,2715,2717,2720,2722,2725,2727,2730,2732,2735,2737,2740,2741,2743,2746,2748,2752,2755,2757,2761,2764,2766,2769,2770,2772,2775,2776,2778,2781,2782,2784,2787,2789,2791,2792,2793,2795,2797,2798,2799,2801,2803,2804,2805,2807,2809,2810,2811,2813,2815,2816,2817,2818,2820,2822,2824,2826,2828,2830,2832,2834,2836,2839,2841,2844,2846,2849,2851,2854,2856,2857,2858,2859,2860,2861,2862,2864,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2885,2888,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3043,3045,3046,3048,3053,3055,3056,3057,3058,3068) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('merged_df.csv')

(237710, 3075)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237710 entries, 0 to 237709
Columns: 3075 entries, MaskID to TN01_1180
dtypes: float64(1529), int64(1), object(1545)
memory usage: 5.4+ GB

In [4]:
merged_df.head()

,MaskID,TN16_1,TN16_2,TN16_3,TN16_4,TN16_5,TN16_6,TN16_7,TN16_8,TN16_9,...,TN01_1171,TN01_1172,TN01_1173,TN01_1174,TN01_1175,TN01_1176,TN01_1177,TN01_1178,TN01_1179,TN01_1180
0,200608,03/15/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2-hr OGTT 0 min glucose,S4912875,GLU0,109.0,RPTD,12/02/2015,12/01/2015,12/01/2015,11/30/2015,447.0
1,200608,06/30/2016,Initial Visit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2-hr OGTT 0 min glucose,S4912875,GLU0,109.0,RPTD,12/02/2015,12/01/2015,12/01/2015,11/30/2015,447.0
2,204914,10/10/2016,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Whole Blood - HbA1c,S8651403,HbA1c,5.7,RPTD,04/29/2015,04/28/2015,04/28/2015,04/27/2015,447.0
3,206881,08/20/2018,Initial Visit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,206881,08/20/2018,Initial Visit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#load columns for tn01
tn01_col = []
with open('TN01 column names', 'r') as file:
    for line in file:
        tn01_col.append(line.strip())
print(len(tn01_col))
tn01_col[:5]

1181

['MaskID', 'Visit_Dt', 'Visit', '_22Jul2009VisitType', '_15Aug2011VisitType']

In [15]:
#load columns for tn01
tn16_col = []
with open('TN16 column names', 'r') as file:
    for line in file:
        tn16_col.append(line.strip())
print(len(tn16_col))
tn16_col[:5]

242

['MaskID', 'TN16_1', 'TN16_2', 'TN16_3', 'TN16_4']

In [16]:
#load columns for tn01
tn19_col = []
with open('TN19 column names', 'r') as file:
    for line in file:
        tn19_col.append(line.strip())
print(len(tn19_col))
tn19_col[:5]

821

['MaskID', 'Visit_Dt', 'AEInitialAEID', 'adverse_event_id', 'aedate']

In [17]:
#load columns for tn01
tn20_col = []
with open('TN20 column names', 'r') as file:
    for line in file:
        tn20_col.append(line.strip())
print(len(tn20_col))
tn20_col[:5]

834

['MaskID', 'Date_of_Draw', 'Event_Title', 'SampleMaskID', 'GAD65H']

In [19]:
filtered_df = merged_df.select_dtypes(include=['float64', 'int64'])

print(len(filtered_df.columns.tolist()))
print(filtered_df.columns.tolist())

1530
['MaskID', 'TN16_3', 'TN16_5', 'TN16_7', 'TN16_8', 'TN16_9', 'TN16_10', 'TN16_11', 'TN16_12', 'TN16_18', 'TN16_19', 'TN16_20', 'TN16_21', 'TN16_23', 'TN16_24', 'TN16_25', 'TN16_26', 'TN16_27', 'TN16_28', 'TN16_31', 'TN16_32', 'TN16_33', 'TN16_35', 'TN16_36', 'TN16_37', 'TN16_42', 'TN16_44', 'TN16_46', 'TN16_48', 'TN16_51', 'TN16_53', 'TN16_54', 'TN16_56', 'TN16_58', 'TN16_68', 'TN16_70', 'TN16_72', 'TN16_74', 'TN16_77', 'TN16_78', 'TN16_79', 'TN16_80', 'TN16_82', 'TN16_83', 'TN16_84', 'TN16_85', 'TN16_86', 'TN16_88', 'TN16_90', 'TN16_95', 'TN16_97', 'TN16_98', 'TN16_100', 'TN16_101', 'TN16_103', 'TN16_104', 'TN16_105', 'TN16_107', 'TN16_109', 'TN16_110', 'TN16_112', 'TN16_115', 'TN16_116', 'TN16_118', 'TN16_120', 'TN16_122', 'TN16_126', 'TN16_127', 'TN16_128', 'TN16_129', 'TN16_130', 'TN16_131', 'TN16_133', 'TN16_134', 'TN16_135', 'TN16_136', 'TN16_138', 'TN16_139', 'TN16_140', 'TN16_141', 'TN16_144', 'TN16_145', 'TN16_149', 'TN16_151', 'TN16_154', 'TN16_156', 'TN16_160', 'TN16_164', 'TN16_168', 'TN16_169', 'TN16_170', 'TN16_180', 'TN16_181', 'TN16_182', 'TN16_208', 'TN16_209', 'TN16_210', 'TN16_211', 'TN16_212', 'TN16_218', 'TN16_220', 'TN16_241', 'TN19_2', 'TN19_3', 'TN19_10', 'TN19_15', 'TN19_16', 'TN19_17', 'TN19_18', 'TN19_19', 'TN19_44', 'TN19_46', 'TN19_52', 'TN19_53', 'TN19_66', 'TN19_67', 'TN19_68', 'TN19_69', 'TN19_70', 'TN19_71', 'TN19_72', 'TN19_92', 'TN19_94', 'TN19_95', 'TN19_96', 'TN19_97', 'TN19_99', 'TN19_100', 'TN19_101', 'TN19_102', 'TN19_103', 'TN19_106', 'TN19_109', 'TN19_112', 'TN19_115', 'TN19_119', 'TN19_123', 'TN19_127', 'TN19_130', 'TN19_131', 'TN19_135', 'TN19_136', 'TN19_140', 'TN19_141', 'TN19_145', 'TN19_146', 'TN19_150', 'TN19_151', 'TN19_156', 'TN19_158', 'TN19_161', 'TN19_163', 'TN19_167', 'TN19_169', 'TN19_171', 'TN19_181', 'TN19_183', 'TN19_185', 'TN19_187', 'TN19_191', 'TN19_193', 'TN19_194', 'TN19_196', 'TN19_197', 'TN19_199', 'TN19_200', 'TN19_201', 'TN19_202', 'TN19_204', 'TN19_206', 'TN19_208', 'TN19_211', 'TN19_212', 'TN19_214', 'TN19_215', 'TN19_217', 'TN19_219', 'TN19_222', 'TN19_223', 'TN19_225', 'TN19_226', 'TN19_228', 'TN19_229', 'TN19_235', 'TN19_236', 'TN19_238', 'TN19_239', 'TN19_240', 'TN19_241', 'TN19_242', 'TN19_244', 'TN19_245', 'TN19_246', 'TN19_247', 'TN19_251', 'TN19_252', 'TN19_253', 'TN19_254', 'TN19_255', 'TN19_256', 'TN19_261', 'TN19_262', 'TN19_264', 'TN19_265', 'TN19_267', 'TN19_268', 'TN19_272', 'TN19_274', 'TN19_276', 'TN19_279', 'TN19_280', 'TN19_281', 'TN19_282', 'TN19_283', 'TN19_284', 'TN19_285', 'TN19_286', 'TN19_287', 'TN19_288', 'TN19_289', 'TN19_290', 'TN19_291', 'TN19_292', 'TN19_293', 'TN19_294', 'TN19_295', 'TN19_296', 'TN19_297', 'TN19_298', 'TN19_299', 'TN19_300', 'TN19_301', 'TN19_302', 'TN19_303', 'TN19_304', 'TN19_305', 'TN19_306', 'TN19_307', 'TN19_308', 'TN19_309', 'TN19_310', 'TN19_311', 'TN19_312', 'TN19_313', 'TN19_314', 'TN19_315', 'TN19_316', 'TN19_317', 'TN19_318', 'TN19_334', 'TN19_347', 'TN19_349', 'TN19_361', 'TN19_364', 'TN19_365', 'TN19_366', 'TN19_367', 'TN19_368', 'TN19_369', 'TN19_370', 'TN19_372', 'TN19_373', 'TN19_374', 'TN19_378', 'TN19_379', 'TN19_384', 'TN19_385', 'TN19_386', 'TN19_387', 'TN19_388', 'TN19_389', 'TN19_390', 'TN19_391', 'TN19_392', 'TN19_393', 'TN19_394', 'TN19_395', 'TN19_396', 'TN19_400', 'TN19_402', 'TN19_403', 'TN19_404', 'TN19_407', 'TN19_408', 'TN19_410', 'TN19_411', 'TN19_420', 'TN19_421', 'TN19_422', 'TN19_423', 'TN19_424', 'TN19_425', 'TN19_426', 'TN19_427', 'TN19_428', 'TN19_429', 'TN19_430', 'TN19_431', 'TN19_432', 'TN19_433', 'TN19_434', 'TN19_435', 'TN19_436', 'TN19_437', 'TN19_438', 'TN19_439', 'TN19_440', 'TN19_441', 'TN19_442', 'TN19_443', 'TN19_444', 'TN19_445', 'TN19_446', 'TN19_447', 'TN19_448', 'TN19_449', 'TN19_450', 'TN19_451', 'TN19_452', 'TN19_453', 'TN19_454', 'TN19_455', 'TN19_456', 'TN19_457', 'TN19_458', 'TN19_459', 'TN19_460', 'TN19_461', 'TN19_462', 'TN19_463', 'TN19_464', 'TN19_465', 'TN19_466', 'TN19_467', 'TN19_468', 'TN19_469', 'TN19_470', 'TN19_471', 'TN19_472', 'TN19_473', 'TN19_474', 'TN19_475', 'TN19_476', 'TN19_477', 'TN19_478', 'TN19_479', 'TN19_480', 'TN19_481', 'TN19_482', 'TN19_483', 'TN19_484', 'TN19_485', 'TN19_486', 'TN19_487', 'TN19_488', 'TN19_489', 'TN19_490', 'TN19_491', 'TN19_492', 'TN19_493', 'TN19_494', 'TN19_495', 'TN19_496', 'TN19_497', 'TN19_498', 'TN19_499', 'TN19_500', 'TN19_501', 'TN19_502', 'TN19_503', 'TN19_504', 'TN19_505', 'TN19_506', 'TN19_507', 'TN19_508', 'TN19_509', 'TN19_510', 'TN19_511', 'TN19_512', 'TN19_513', 'TN19_514', 'TN19_515', 'TN19_516', 'TN19_517', 'TN19_518', 'TN19_519', 'TN19_520', 'TN19_521', 'TN19_522', 'TN19_523', 'TN19_524', 'TN19_525', 'TN19_526', 'TN19_527', 'TN19_528', 'TN19_529', 'TN19_530', 'TN19_531', 'TN19_532', 'TN19_533', 'TN19_534', 'TN19_535', 'TN19_536', 'TN19_537', 'TN19_538', 'TN19_539', 'TN19_540', 'TN19_541', 'TN19_542', 'TN19_543', 'TN19_544', 'TN19_545', 'TN19_546', 'TN19_547', 'TN19_548', 'TN19_549', 'TN19_550', 'TN19_551', 'TN19_552', 'TN19_553', 'TN19_554', 'TN19_555', 'TN19_556', 'TN19_557', 'TN19_558', 'TN19_559', 'TN19_560', 'TN19_561', 'TN19_562', 'TN19_563', 'TN19_564', 'TN19_565', 'TN19_566', 'TN19_567', 'TN19_568', 'TN19_569', 'TN19_570', 'TN19_571', 'TN19_572', 'TN19_573', 'TN19_574', 'TN19_575', 'TN19_576', 'TN19_577', 'TN19_578', 'TN19_579', 'TN19_580', 'TN19_581', 'TN19_582', 'TN19_583', 'TN19_584', 'TN19_585', 'TN19_586', 'TN19_587', 'TN19_588', 'TN19_589', 'TN19_590', 'TN19_591', 'TN19_592', 'TN19_593', 'TN19_594', 'TN19_595', 'TN19_596', 'TN19_597', 'TN19_598', 'TN19_599', 'TN19_600', 'TN19_601', 'TN19_602', 'TN19_603', 'TN19_604', 'TN19_605', 'TN19_606', 'TN19_607', 'TN19_608', 'TN19_609', 'TN19_610', 'TN19_611', 'TN19_612', 'TN19_613', 'TN19_614', 'TN19_615', 'TN19_616', 'TN19_617', 'TN19_618', 'TN19_619', 'TN19_620', 'TN19_621', 'TN19_622', 'TN19_623', 'TN19_624', 'TN19_625', 'TN19_626', 'TN19_627', 'TN19_628', 'TN19_629', 'TN19_630', 'TN19_631', 'TN19_632', 'TN19_633', 'TN19_634', 'TN19_635', 'TN19_636', 'TN19_637', 'TN19_638', 'TN19_639', 'TN19_640', 'TN19_641', 'TN19_642', 'TN19_643', 'TN19_644', 'TN19_645', 'TN19_646', 'TN19_647', 'TN19_648', 'TN19_649', 'TN19_650', 'TN19_651', 'TN19_652', 'TN19_653', 'TN19_654', 'TN19_655', 'TN19_656', 'TN19_657', 'TN19_658', 'TN19_659', 'TN19_660', 'TN19_661', 'TN19_662', 'TN19_663', 'TN19_664', 'TN19_666', 'TN19_668', 'TN19_670', 'TN19_672', 'TN19_674', 'TN19_676', 'TN19_678', 'TN19_680', 'TN19_682', 'TN19_685', 'TN19_687', 'TN19_688', 'TN19_689', 'TN19_691', 'TN19_697', 'TN19_698', 'TN19_699', 'TN19_701', 'TN19_702', 'TN19_703', 'TN19_705', 'TN19_707', 'TN19_708', 'TN19_709', 'TN19_711', 'TN19_712', 'TN19_713', 'TN19_716', 'TN19_717', 'TN19_718', 'TN19_723', 'TN19_724', 'TN19_725', 'TN19_726', 'TN19_727', 'TN19_728', 'TN19_729', 'TN19_730', 'TN19_731', 'TN19_732', 'TN19_733', 'TN19_734', 'TN19_735', 'TN19_736', 'TN19_737', 'TN19_738', 'TN19_739', 'TN19_740', 'TN19_742', 'TN19_743', 'TN19_744', 'TN19_745', 'TN19_746', 'TN19_747', 'TN19_748', 'TN19_749', 'TN19_750', 'TN19_752', 'TN19_753', 'TN19_754', 'TN19_755', 'TN19_756', 'TN19_757', 'TN19_758', 'TN19_759', 'TN19_760', 'TN19_761', 'TN19_762', 'TN19_763', 'TN19_764', 'TN19_765', 'TN19_766', 'TN19_769', 'TN19_770', 'TN19_771', 'TN19_773', 'TN19_774', 'TN19_775', 'TN19_777', 'TN19_778', 'TN19_779', 'TN19_781', 'TN19_782', 'TN19_783', 'TN19_785', 'TN19_786', 'TN19_787', 'TN19_789', 'TN19_790', 'TN19_791', 'TN19_793', 'TN19_794', 'TN19_795', 'TN19_801', 'TN19_802', 'TN19_811', 'TN19_812', 'TN19_813', 'TN19_814', 'TN19_815', 'TN19_817', 'TN20_4', 'TN20_5', 'TN20_6', 'TN20_7', 'TN20_8', 'TN20_9', 'TN20_10', 'TN20_11', 'TN20_12', 'TN20_13', 'TN20_24', 'TN20_25', 'TN20_33', 'TN20_41', 'TN20_42', 'TN20_43', 'TN20_44', 'TN20_45', 'TN20_46', 'TN20_47', 'TN20_58', 'TN20_60', 'TN20_62', 'TN20_64', 'TN20_66', 'TN20_69', 'TN20_71', 'TN20_75', 'TN20_79', 'TN20_83', 'TN20_87', 'TN20_91', 'TN20_95', 'TN20_99', 'TN20_103', 'TN20_133', 'TN20_134', 'TN20_135', 'TN20_136', 'TN20_144', 'TN20_145', 'TN20_146', 'TN20_151', 'TN20_154', 'TN20_155', 'TN20_158', 'TN20_159', 'TN20_165', 'TN20_167', 'TN20_172', 'TN20_173', 'TN20_174', 'TN20_175', 'TN20_176', 'TN20_177', 'TN20_178', 'TN20_179', 'TN20_180', 'TN20_181', 'TN20_182', 'TN20_183', 'TN20_184', 'TN20_185', 'TN20_186', 'TN20_187', 'TN20_188', 'TN20_189', 'TN20_190', 'TN20_191', 'TN20_192', 'TN20_193', 'TN20_194', 'TN20_195', 'TN20_196', 'TN20_198', 'TN20_220', 'TN20_221', 'TN20_222', 'TN20_223', 'TN20_224', 'TN20_225', 'TN20_226', 'TN20_227', 'TN20_228', 'TN20_229', 'TN20_230', 'TN20_232', 'TN20_235', 'TN20_237', 'TN20_238', 'TN20_241', 'TN20_244', 'TN20_247', 'TN20_250', 'TN20_251', 'TN20_253', 'TN20_254', 'TN20_255', 'TN20_257', 'TN20_260', 'TN20_262', 'TN20_263', 'TN20_264', 'TN20_266', 'TN20_269', 'TN20_271', 'TN20_272', 'TN20_273', 'TN20_275', 'TN20_278', 'TN20_280', 'TN20_281', 'TN20_282', 'TN20_284', 'TN20_287', 'TN20_288', 'TN20_289', 'TN20_290', 'TN20_292', 'TN20_297', 'TN20_298', 'TN20_299', 'TN20_300', 'TN20_301', 'TN20_302', 'TN20_303', 'TN20_304', 'TN20_305', 'TN20_306', 'TN20_307', 'TN20_308', 'TN20_309', 'TN20_310', 'TN20_311', 'TN20_312', 'TN20_313', 'TN20_314', 'TN20_315', 'TN20_316', 'TN20_317', 'TN20_318', 'TN20_319', 'TN20_320', 'TN20_321', 'TN20_322', 'TN20_323', 'TN20_324', 'TN20_325', 'TN20_326', 'TN20_327', 'TN20_328', 'TN20_329', 'TN20_330', 'TN20_331', 'TN20_332', 'TN20_333', 'TN20_334', 'TN20_335', 'TN20_336', 'TN20_337', 'TN20_338', 'TN20_339', 'TN20_340', 'TN20_341', 'TN20_342', 'TN20_343', 'TN20_344', 'TN20_345', 'TN20_346', 'TN20_347', 'TN20_348', 'TN20_349', 'TN20_350', 'TN20_351', 'TN20_352', 'TN20_353', 'TN20_354', 'TN20_355', 'TN20_356', 'TN20_357', 'TN20_358', 'TN20_359', 'TN20_360', 'TN20_361', 'TN20_362', 'TN20_363', 'TN20_364', 'TN20_365', 'TN20_366', 'TN20_367', 'TN20_368', 'TN20_369', 'TN20_370', 'TN20_371', 'TN20_372', 'TN20_373', 'TN20_374', 'TN20_375', 'TN20_376', 'TN20_377', 'TN20_378', 'TN20_379', 'TN20_380', 'TN20_381', 'TN20_382', 'TN20_383', 'TN20_384', 'TN20_385', 'TN20_386', 'TN20_387', 'TN20_388', 'TN20_389', 'TN20_390', 'TN20_391', 'TN20_392', 'TN20_393', 'TN20_394', 'TN20_395', 'TN20_396', 'TN20_397', 'TN20_398', 'TN20_399', 'TN20_400', 'TN20_401', 'TN20_402', 'TN20_403', 'TN20_404', 'TN20_405', 'TN20_406', 'TN20_407', 'TN20_408', 'TN20_409', 'TN20_410', 'TN20_411', 'TN20_412', 'TN20_413', 'TN20_414', 'TN20_415', 'TN20_416', 'TN20_417', 'TN20_418', 'TN20_419', 'TN20_420', 'TN20_421', 'TN20_422', 'TN20_423', 'TN20_424', 'TN20_425', 'TN20_426', 'TN20_427', 'TN20_428', 'TN20_429', 'TN20_430', 'TN20_431', 'TN20_432', 'TN20_433', 'TN20_434', 'TN20_435', 'TN20_436', 'TN20_437', 'TN20_438', 'TN20_439', 'TN20_440', 'TN20_441', 'TN20_442', 'TN20_443', 'TN20_444', 'TN20_445', 'TN20_446', 'TN20_447', 'TN20_448', 'TN20_449', 'TN20_450', 'TN20_451', 'TN20_452', 'TN20_453', 'TN20_454', 'TN20_455', 'TN20_456', 'TN20_457', 'TN20_458', 'TN20_459', 'TN20_460', 'TN20_461', 'TN20_462', 'TN20_463', 'TN20_464', 'TN20_465', 'TN20_466', 'TN20_467', 'TN20_468', 'TN20_469', 'TN20_470', 'TN20_471', 'TN20_472', 'TN20_473', 'TN20_474', 'TN20_475', 'TN20_476', 'TN20_477', 'TN20_478', 'TN20_479', 'TN20_480', 'TN20_481', 'TN20_482', 'TN20_483', 'TN20_484', 'TN20_485', 'TN20_486', 'TN20_487', 'TN20_488', 'TN20_490', 'TN20_491', 'TN20_493', 'TN20_498', 'TN20_502', 'TN20_506', 'TN20_510', 'TN20_514', 'TN20_518', 'TN20_526', 'TN20_530', 'TN20_534', 'TN20_538', 'TN20_542', 'TN20_546', 'TN20_557', 'TN20_558', 'TN20_560', 'TN20_573', 'TN20_584', 'TN20_596', 'TN20_604', 'TN20_612', 'TN20_616', 'TN20_624', 'TN20_636', 'TN20_654', 'TN20_656', 'TN20_672', 'TN20_676', 'TN20_690', 'TN20_692', 'TN20_695', 'TN20_759', 'TN20_765', 'TN20_766', 'TN20_769', 'TN20_789', 'TN20_810', 'TN20_811', 'TN20_813', 'TN20_824', 'TN20_826', 'TN01_7', 'TN01_9', 'TN01_10', 'TN01_12', 'TN01_13', 'TN01_15', 'TN01_25', 'TN01_26', 'TN01_27', 'TN01_29', 'TN01_31', 'TN01_32', 'TN01_33', 'TN01_34', 'TN01_35', 'TN01_36', 'TN01_43', 'TN01_44', 'TN01_45', 'TN01_46', 'TN01_47', 'TN01_48', 'TN01_50', 'TN01_51', 'TN01_52', 'TN01_53', 'TN01_54', 'TN01_55', 'TN01_56', 'TN01_58', 'TN01_59', 'TN01_61', 'TN01_62', 'TN01_64', 'TN01_65', 'TN01_67', 'TN01_70', 'TN01_71', 'TN01_72', 'TN01_75', 'TN01_76', 'TN01_77', 'TN01_88', 'TN01_90', 'TN01_92', 'TN01_93', 'TN01_94', 'TN01_95', 'TN01_96', 'TN01_97', 'TN01_99', 'TN01_100', 'TN01_101', 'TN01_102', 'TN01_104', 'TN01_105', 'TN01_106', 'TN01_107', 'TN01_108', 'TN01_109', 'TN01_112', 'TN01_113', 'TN01_116', 'TN01_117', 'TN01_120', 'TN01_121', 'TN01_124', 'TN01_125', 'TN01_128', 'TN01_129', 'TN01_132', 'TN01_133', 'TN01_136', 'TN01_137', 'TN01_140', 'TN01_141', 'TN01_142', 'TN01_145', 'TN01_146', 'TN01_147', 'TN01_150', 'TN01_151', 'TN01_152', 'TN01_155', 'TN01_156', 'TN01_157', 'TN01_160', 'TN01_161', 'TN01_162', 'TN01_165', 'TN01_166', 'TN01_168', 'TN01_175', 'TN01_177', 'TN01_182', 'TN01_184', 'TN01_185', 'TN01_188', 'TN01_191', 'TN01_192', 'TN01_196', 'TN01_200', 'TN01_201', 'TN01_205', 'TN01_208', 'TN01_209', 'TN01_210', 'TN01_211', 'TN01_212', 'TN01_215', 'TN01_216', 'TN01_217', 'TN01_227', 'TN01_229', 'TN01_232', 'TN01_234', 'TN01_236', 'TN01_238', 'TN01_240', 'TN01_242', 'TN01_244', 'TN01_246', 'TN01_248', 'TN01_250', 'TN01_251', 'TN01_253', 'TN01_255', 'TN01_257', 'TN01_260', 'TN01_261', 'TN01_262', 'TN01_263', 'TN01_266', 'TN01_267', 'TN01_268', 'TN01_269', 'TN01_270', 'TN01_272', 'TN01_273', 'TN01_274', 'TN01_275', 'TN01_276', 'TN01_277', 'TN01_278', 'TN01_279', 'TN01_281', 'TN01_282', 'TN01_283', 'TN01_284', 'TN01_285', 'TN01_286', 'TN01_287', 'TN01_288', 'TN01_289', 'TN01_290', 'TN01_291', 'TN01_295', 'TN01_297', 'TN01_298', 'TN01_299', 'TN01_300', 'TN01_301', 'TN01_302', 'TN01_303', 'TN01_304', 'TN01_305', 'TN01_306', 'TN01_321', 'TN01_323', 'TN01_324', 'TN01_329', 'TN01_330', 'TN01_335', 'TN01_336', 'TN01_337', 'TN01_342', 'TN01_343', 'TN01_344', 'TN01_349', 'TN01_350', 'TN01_351', 'TN01_356', 'TN01_357', 'TN01_359', 'TN01_361', 'TN01_362', 'TN01_364', 'TN01_365', 'TN01_369', 'TN01_372', 'TN01_373', 'TN01_374', 'TN01_375', 'TN01_376', 'TN01_377', 'TN01_378', 'TN01_380', 'TN01_381', 'TN01_382', 'TN01_383', 'TN01_384', 'TN01_385', 'TN01_386', 'TN01_387', 'TN01_388', 'TN01_389', 'TN01_390', 'TN01_391', 'TN01_401', 'TN01_403', 'TN01_405', 'TN01_406', 'TN01_408', 'TN01_409', 'TN01_410', 'TN01_412', 'TN01_416', 'TN01_419', 'TN01_420', 'TN01_421', 'TN01_424', 'TN01_425', 'TN01_426', 'TN01_429', 'TN01_430', 'TN01_431', 'TN01_434', 'TN01_435', 'TN01_436', 'TN01_439', 'TN01_440', 'TN01_441', 'TN01_444', 'TN01_445', 'TN01_446', 'TN01_449', 'TN01_450', 'TN01_451', 'TN01_454', 'TN01_455', 'TN01_456', 'TN01_459', 'TN01_460', 'TN01_461', 'TN01_465', 'TN01_466', 'TN01_467', 'TN01_471', 'TN01_472', 'TN01_473', 'TN01_490', 'TN01_492', 'TN01_515', 'TN01_516', 'TN01_517', 'TN01_518', 'TN01_519', 'TN01_520', 'TN01_572', 'TN01_573', 'TN01_574', 'TN01_575', 'TN01_576', 'TN01_578', 'TN01_579', 'TN01_581', 'TN01_582', 'TN01_583', 'TN01_584', 'TN01_585', 'TN01_628', 'TN01_630', 'TN01_631', 'TN01_633', 'TN01_634', 'TN01_636', 'TN01_638', 'TN01_640', 'TN01_645', 'TN01_646', 'TN01_648', 'TN01_649', 'TN01_651', 'TN01_654', 'TN01_656', 'TN01_657', 'TN01_659', 'TN01_661', 'TN01_662', 'TN01_664', 'TN01_667', 'TN01_670', 'TN01_673', 'TN01_676', 'TN01_679', 'TN01_680', 'TN01_681', 'TN01_684', 'TN01_685', 'TN01_687', 'TN01_688', 'TN01_689', 'TN01_691', 'TN01_692', 'TN01_694', 'TN01_695', 'TN01_696', 'TN01_698', 'TN01_699', 'TN01_701', 'TN01_702', 'TN01_703', 'TN01_705', 'TN01_706', 'TN01_708', 'TN01_709', 'TN01_710', 'TN01_712', 'TN01_713', 'TN01_715', 'TN01_716', 'TN01_717', 'TN01_719', 'TN01_720', 'TN01_722', 'TN01_723', 'TN01_724', 'TN01_726', 'TN01_727', 'TN01_729', 'TN01_730', 'TN01_731', 'TN01_733', 'TN01_736', 'TN01_738', 'TN01_739', 'TN01_740', 'TN01_742', 'TN01_745', 'TN01_747', 'TN01_748', 'TN01_749', 'TN01_751', 'TN01_754', 'TN01_756', 'TN01_757', 'TN01_758', 'TN01_760', 'TN01_763', 'TN01_765', 'TN01_766', 'TN01_767', 'TN01_769', 'TN01_772', 'TN01_774', 'TN01_775', 'TN01_776', 'TN01_778', 'TN01_781', 'TN01_783', 'TN01_784', 'TN01_785', 'TN01_787', 'TN01_790', 'TN01_792', 'TN01_793', 'TN01_794', 'TN01_796', 'TN01_799', 'TN01_801', 'TN01_802', 'TN01_803', 'TN01_805', 'TN01_808', 'TN01_810', 'TN01_812', 'TN01_815', 'TN01_816', 'TN01_817', 'TN01_818', 'TN01_820', 'TN01_822', 'TN01_824', 'TN01_825', 'TN01_827', 'TN01_829', 'TN01_830', 'TN01_832', 'TN01_834', 'TN01_835', 'TN01_837', 'TN01_839', 'TN01_840', 'TN01_842', 'TN01_844', 'TN01_845', 'TN01_848', 'TN01_850', 'TN01_851', 'TN01_853', 'TN01_855', 'TN01_856', 'TN01_857', 'TN01_859', 'TN01_860', 'TN01_862', 'TN01_864', 'TN01_865', 'TN01_866', 'TN01_868', 'TN01_869', 'TN01_871', 'TN01_873', 'TN01_874', 'TN01_877', 'TN01_879', 'TN01_880', 'TN01_883', 'TN01_885', 'TN01_886', 'TN01_889', 'TN01_891', 'TN01_892', 'TN01_894', 'TN01_896', 'TN01_900', 'TN01_902', 'TN01_906', 'TN01_908', 'TN01_912', 'TN01_914', 'TN01_918', 'TN01_920', 'TN01_925', 'TN01_927', 'TN01_929', 'TN01_931', 'TN01_933', 'TN01_935', 'TN01_937', 'TN01_939', 'TN01_941', 'TN01_943', 'TN01_944', 'TN01_946', 'TN01_948', 'TN01_949', 'TN01_951', 'TN01_953', 'TN01_954', 'TN01_956', 'TN01_958', 'TN01_959', 'TN01_961', 'TN01_969', 'TN01_971', 'TN01_984', 'TN01_985', 'TN01_986', 'TN01_987', 'TN01_988', 'TN01_989', 'TN01_990', 'TN01_992', 'TN01_993', 'TN01_995', 'TN01_996', 'TN01_997', 'TN01_998', 'TN01_999', 'TN01_1061', 'TN01_1062', 'TN01_1063', 'TN01_1064', 'TN01_1065', 'TN01_1066', 'TN01_1067', 'TN01_1068', 'TN01_1069', 'TN01_1070', 'TN01_1071', 'TN01_1072', 'TN01_1073', 'TN01_1074', 'TN01_1075', 'TN01_1076', 'TN01_1077', 'TN01_1078', 'TN01_1079', 'TN01_1080', 'TN01_1081', 'TN01_1082', 'TN01_1083', 'TN01_1084', 'TN01_1085', 'TN01_1086', 'TN01_1087', 'TN01_1088', 'TN01_1089', 'TN01_1090', 'TN01_1091', 'TN01_1092', 'TN01_1093', 'TN01_1094', 'TN01_1095', 'TN01_1096', 'TN01_1097', 'TN01_1098', 'TN01_1099', 'TN01_1100', 'TN01_1101', 'TN01_1102', 'TN01_1103', 'TN01_1104', 'TN01_1105', 'TN01_1106', 'TN01_1107', 'TN01_1108', 'TN01_1109', 'TN01_1110', 'TN01_1111', 'TN01_1112', 'TN01_1113', 'TN01_1114', 'TN01_1115', 'TN01_1116', 'TN01_1117', 'TN01_1118', 'TN01_1119', 'TN01_1120', 'TN01_1121', 'TN01_1122', 'TN01_1123', 'TN01_1124', 'TN01_1125', 'TN01_1126', 'TN01_1127', 'TN01_1128', 'TN01_1129', 'TN01_1148', 'TN01_1150', 'TN01_1158', 'TN01_1160', 'TN01_1180']

In [8]:
tn01_col = pd.read_csv('TN01 column names', header=None, names=['Column Name'])
new_column_names = ["TN16_" + str(i) for i in range(1:len(df16_column))]
tn16_col = pd.read_csv('TN16 column names', header=None, names=['Column Name'])
tn19_col = pd.read_csv('TN19 column names', header=None, names=['Column Name'])
tn20_col = pd.read_csv('TN20 column names', header=None, names=['Column Name'])

# Now 'df' is your DataFrame
print(len(df))
df.info()

1181
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Column Name  1181 non-null   object
dtypes: object(1)
memory usage: 9.4+ KB

In [ ]:
tn01_col = pd.read_csv('TN01 column names', header=None, names=['Column Name'])
new_column_names = ["TN16_" + str(i) for i in range(1:len(df16.columns.tolist()))]

In [11]:
len(tn01_col.columns.to_list)

NameError: name 'tn01_col' is not defined

# 1. Columns of Date

#### Steps of date column harmonization:
1. Filter out date column sets based on their headers
2. Create one date column to replace one set of date columns.
3. assign values in the format of date_time to the new created column.

## 1.1 Day, Month, Year

In [3]:
# Filter all columns with "Day", "Month", "Year" as date sets
# in lower case for case-insensitive comparison
# Example strings to include
contain_list_1 = ['Day', "Month", 'Year'] 
# Example strings to exclude
not_contain_list_1 = ['LastYear', 'Last6Months', '3Days', 'Birth', 'MostRecentHbA1c', 'PastYear', 
                      'ChangeInDrugStatusEffective', 'ParticipantDateDispensed', 'MechanisticSampleCollection',
                     'Polydipsia', 'Polyuria']     

# Converting each string in the lists to lower case
contain_list_1_low = [string.lower() for string in contain_list_1]
not_contain_list_1_low = [string.lower() for string in not_contain_list_1]

# Filtering columns with case-insensitive comparison
filtered_date_columns_1 = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list_1_low) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list_1_low)]

print("Found ", len(filtered_date_columns_1), "columns: ", filtered_date_columns_1)

filtered_df = merged_df[filtered_date_columns_1]

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
#for col in filtered_columns:
#    print(f"Top 20 values for column {col}:")
#    print(df[col].value_counts().nlargest(20))
#    print()

Found  0 columns:  []
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237710 entries, 0 to 237709
Empty DataFrame
None

In [9]:
#check columns for the day
day_column_list_1 = [col for col in filtered_date_columns_1 if "Day" in col]
print("No. of the day columes to be merged: ", len(day_column_list_1))

#create columns for the month and the year based on columns of the day
month_column_list_1 = [name.replace("Day", "Month") for name in day_column_list_1]
year_column_list_1 = [name.replace("Day", "Year") for name in day_column_list_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list_1 if name not in df.columns]
print("No. of month columes in wrong naming format: ", len(unmatched_month_columns))

unmatched_year_columns = [name for name in year_column_list_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))

No. of the day columes to be merged:  34
No. of month columes in wrong naming format:  0
No. of year columes in wrong naming format:  0

In [10]:
import numpy as np
# Convert 'NA' strings to np.nan
def convert_na(value):
    if pd.isna(value):  # using pandas function to check for NA
        return np.nan   # converting to numpy NaN
    else:
        return value

# Function to convert month from string or number to numeric month, handling missing values
def month_to_num(month):
    if pd.isna(month):
        return np.nan
    try:
        # Handle string representation
        if isinstance(month, str):
            datetime_object = pd.to_datetime(month, format='%b')
            return datetime_object.month
        # Handle numeric representation
        elif isinstance(month, (int, float)):
            return int(month)
    except ValueError:
        return np.nan
    
# Create a date column and assign values by combine date columns with similar header
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Year')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Month' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        problematic_rows = []
        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    df.at[index, date_col] = np.nan
                else:
                    year = int(row[year_col])
                    month = int(month_to_num(row[month_col]))
                    day = int(row[day_col])
                    datetime_obj = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce')
                    df.at[index, date_col] = datetime_obj.date()
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = np.nan
        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [ ]:
# Convert 'NA' strings to np.nan
for col in filtered_date_columns_1:
    filtered_df.loc[:, col] = filtered_df[col].apply(convert_na)

# Iterating over columns and creating date columns
for col in year_column_list_1:
    create_date_column(filtered_df, col, filtered_date_columns_1)

print(filtered_df.info())
filtered_df.head()

/tmp/ipykernel_9130/375426993.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[index, date_col] = datetime_obj.date()  # Extracting just the date part
/tmp/ipykernel_9130/375426993.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-07-01' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.date()  # Extracting just the date part
/tmp/ipykernel_9130/375426993.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[index, date_col] = np.nan
/tmp/ipykernel_9130/375426993.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018-01-24' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.date()  # Extracting just the date part
/tmp/ipykernel_9130/375426993.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[index, date_col] = np.nan
/tmp/ipykernel_9130/375426993.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2017-12-14' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.date()  # Extracting just the date part
/tmp/ipykernel_9130/375426993.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[index, date_col] = np.nan
/tmp/ipykernel_9130/375426993.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2017-12-14' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.date()  # Extracting just the date part

In [ ]:
filtered_df.info()

## 1.2 Month, Year

'BirthMonth', 'BirthYear'
'MostRecentHbA1cMonth', 'MostRecentHbA1cYear'
'PolyuriaMonth', 'PolyuriaYear'
'PolydipsiaMonth', 'Polydipsiayear',

## 1.3 DD, MM, YYYY

## 1.4 day, mon, yea

ChangeInDrugStatusEffective
ParticipantDateDispensed
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea'