In [1]:
import pandas as pd

merged_df = pd.read_csv('/home/ec2-user/SageMaker/Team-5/Fiona/TN_allinone0112.csv')
merged_df.info()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/tmp/ipykernel_26070/2616713694.py:3: DtypeWarning: Columns (3,4,5,6,10,15,17,21,22,24,25,27,28,30,31,33,35,36,38,40,41,44,45,48,49,52,53,56,57,60,61,62,63,64,65,66,67,68,69,70,71,72,73,75,78,81,82,83,85,86,94,107,108,109,110,111,112,113,114,115,117,119,122,126,128,129,130,132,133,137,138,142,143,147,148,152,153,157,158,162,163,167,168,169,170,171,172,173,175,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,253,256,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,300,302,303,304,305,307,310,313,317,319,322,324,325,328,330,332,334,335,336,338,343,348,349,351,352,353,354,355,356,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,393,395,396,397,399,400,401,404,405,407,409,410,413,416,417,418,512,513,514,515,516,517,518,519,520,521,522,523,524,525,529,536,540,541,542,545,546,547,548,549,550,551,552,553,554,555,556,557,558,561,562,563,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,582,583,584,585,587,588,589,590,591,593,594,596,598,599,601,603,604,606,607,608,609,611,612,613,614,616,617,619,620,621,622,623,624,625,626) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('/home/ec2-user/SageMaker/Team-5/Fiona/TN_allinone0112.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 661 entries, MaskID to Unnamed: 660
dtypes: float64(304), int64(1), object(356)
memory usage: 1.3+ GB

In [ ]:
merged_df

In [2]:
merged_df.head()

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,Spring2019ConsentDateMonth,Spring2019ConsentDateDay,Spring2019ConsentDateYear,DateOfBloodDrawDay,...,HbA1c,CPEP,GLU,INST,DR3,DR4,HLA,HLAa,HLAb,Unnamed: 660
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
print(merged_df.shape)

(259168, 661)

In [3]:
df = merged_df.copy()
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 661 entries, MaskID to Unnamed: 660
dtypes: float64(304), int64(1), object(356)
memory usage: 1.3+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,Spring2019ConsentDateMonth,Spring2019ConsentDateDay,Spring2019ConsentDateYear,DateOfBloodDrawDay,...,HbA1c,CPEP,GLU,INST,DR3,DR4,HLA,HLAa,HLAb,Unnamed: 660
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import numpy as np
df.replace('.', np.nan, inplace=True)

# 1. Columns of Date

#### Steps of date column harmonization:
1. Filter out date column sets based on their headers
2. Create one date column to replace one set of date columns.
3. assign values in the format of date_time to the new created column.

In [11]:
contain_list_0 = ['HbA1crecordDate'] 
# Example strings to exclude
not_contain_list_0 = []     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  2 columns:  ['HbA1crecordDateMonth', 'HbA1crecordDateYear']
<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 2212 to 257395
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HbA1crecordDateMonth  101 non-null    object
 1   HbA1crecordDateYear   101 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.4+ KB
None
Top 20 values for column HbA1crecordDateMonth:
HbA1crecordDateMonth
Mar    14
Jan    13
Dec    12
Apr    12
Jun     9
Feb     8
Oct     6
Nov     6
May     6
Aug     6
Jul     5
Sep     4
Name: count, dtype: int64

Top 20 values for column HbA1crecordDateYear:
HbA1crecordDateYear
2015.0    60
2016.0    32
2014.0     9
Name: count, dtype: int64

## 1.1 Day, Month, Year

In [7]:
df.rename(columns={'PlasmaGlucoseday': 'PlasmaGlucoseDay', 'pHday': 'pHDay', 'SerumKetonesday': 'SerumKetonesDay'}, inplace=True)

In [13]:
# Filter all columns with "Day", "Month", "Year" as date sets
# in lower case for case-insensitive comparison
# Example strings to include
contain_list_1 = ['Day', "Month", 'Year'] 
# Example strings to exclude
not_contain_list_1 = ['LastYear', 'Last6Months', '3Days', 'Birth', 'MostRecentHbA1c', 'PastYear', 
                      'ChangeInDrugStatusEffective', 'ParticipantDateDispensed', 'MechanisticSampleCollection',
                     'Polydipsia', 'Polyuria', '10days', 'ADHPsoriasisDateofDiagnosis', 'CeliacSprueGlutenDiagnosis',
                     'Datethebloodsamplewasdrawn', 'MHInflammatoryBowelDisease', 'ADHAlopeciaDateofDiagnosis', 
                      'ADHOtherDateofDiagnosis', 'ADHVitiligoDateofDiagnosis', 'VitiligoDiagnosis', 'NextYear',
                      'Polyphagia', 'Fatigue', 'monthly', 'Ketoacidosis', 'UnexplainedWeightLoss', 'HbA1crecordDate']     

# Converting each string in the lists to lower case
contain_list_1_low = [string.lower() for string in contain_list_1]
not_contain_list_1_low = [string.lower() for string in not_contain_list_1]

# Filtering columns with case-insensitive comparison
filtered_date_columns_1 = [col for col in df.columns if 
                    any(contain in col.lower() for contain in contain_list_1_low) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list_1_low)]

print("Found ", len(filtered_date_columns_1), "columns: ", filtered_date_columns_1)

filtered_df = df[filtered_date_columns_1]

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
#for col in filtered_columns:
#    print(f"Top 20 values for column {col}:")
#    print(df[col].value_counts().nlargest(20))
#    print()

Found  42 columns:  ['Spring2019ConsentDateMonth', 'Spring2019ConsentDateDay', 'Spring2019ConsentDateYear', 'DateOfBloodDrawDay', 'DateOfBloodDrawMonth', 'DateOfBloodDrawYear', 'DateReportedDay', 'DateReportedMonth', 'DateReportedYear', 'ScreeningDay', 'ScreeningMonth', 'ScreeningYear', 'ConsentSignedDay', 'ConsentSignedMonth', 'ConsentSignedYear', 'DateConsentSignedDay', 'DateConsentSignedMonth', 'DateConsentSignedYear', 'SamplesCollectionDay', 'SamplesCollectionMonth', 'SamplesCollectionYear', 'LastHbA1cDay', 'LastHbA1cMonth', 'LastHbA1cYear', 'WrittenInformedConsentDay', 'WrittenInformedConsentMonth', 'WrittenInformedConsentYear', 'Type1DiabetesDiagnosisMonth', 'Type1DiabetesDiagnosisDay', 'Type1DiabetesDiagnosisYear', 'FluVaccinationDateMonth', 'FluVaccinationDateDay', 'FluVaccinationDateYear', 'DateTestsRunMonth', 'DateTestsRunDay', 'DateTestsRunYear', 'StudyDrugReturnedDay', 'StudyDrugReturnedMonth', 'StudyDrugReturnedYear', 'StudyDrugDispensedDay', 'StudyDrugDispensedMonth', 'StudyDrugDispensedYear']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Spring2019ConsentDateMonth   15502 non-null   object
 1   Spring2019ConsentDateDay     15502 non-null   float64
 2   Spring2019ConsentDateYear    15502 non-null   float64
 3   DateOfBloodDrawDay           2007 non-null    float64
 4   DateOfBloodDrawMonth         2007 non-null    object
 5   DateOfBloodDrawYear          2007 non-null    float64
 6   DateReportedDay              2007 non-null    float64
 7   DateReportedMonth            2007 non-null    object
 8   DateReportedYear             2007 non-null    float64
 9   ScreeningDay                 233578 non-null  float64
 10  ScreeningMonth               233578 non-null  object
 11  ScreeningYear                233578 non-null  float64
 12  ConsentSignedDay             98795 non-null   float64
 13  ConsentSignedMonth           98785 non-null   object
 14  ConsentSignedYear            98793 non-null   float64
 15  DateConsentSignedDay         4712 non-null    float64
 16  DateConsentSignedMonth       4713 non-null    object
 17  DateConsentSignedYear        4711 non-null    float64
 18  SamplesCollectionDay         6238 non-null    float64
 19  SamplesCollectionMonth       6238 non-null    object
 20  SamplesCollectionYear        6237 non-null    float64
 21  LastHbA1cDay                 1474 non-null    float64
 22  LastHbA1cMonth               1790 non-null    object
 23  LastHbA1cYear                1786 non-null    float64
 24  WrittenInformedConsentDay    110 non-null     float64
 25  WrittenInformedConsentMonth  110 non-null     object
 26  WrittenInformedConsentYear   110 non-null     float64
 27  Type1DiabetesDiagnosisMonth  107 non-null     object
 28  Type1DiabetesDiagnosisDay    107 non-null     float64
 29  Type1DiabetesDiagnosisYear   107 non-null     float64
 30  FluVaccinationDateMonth      107 non-null     object
 31  FluVaccinationDateDay        107 non-null     float64
 32  FluVaccinationDateYear       107 non-null     float64
 33  DateTestsRunMonth            675 non-null     object
 34  DateTestsRunDay              675 non-null     float64
 35  DateTestsRunYear             675 non-null     float64
 36  StudyDrugReturnedDay         281 non-null     float64
 37  StudyDrugReturnedMonth       281 non-null     object
 38  StudyDrugReturnedYear        281 non-null     object
 39  StudyDrugDispensedDay        267 non-null     float64
 40  StudyDrugDispensedMonth      267 non-null     object
 41  StudyDrugDispensedYear       267 non-null     object
dtypes: float64(26), object(16)
memory usage: 83.0+ MB
None

#### Check month and year columns based on day columns

In [14]:
#check columns for the day
day_column_list_1 = [col for col in filtered_date_columns_1 if "Day" in col]
print("No. of the day columes to be merged: ", len(day_column_list_1))

#create columns for the month and the year based on columns of the day
month_column_list_1 = [name.replace("Day", "Month") for name in day_column_list_1]
year_column_list_1 = [name.replace("Day", "Year") for name in day_column_list_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list_1 if name not in df.columns]
print("No. of month columes in wrong naming format:", len(unmatched_month_columns))
print("Month columes in wrong naming format:", unmatched_month_columns)

unmatched_year_columns = [name for name in year_column_list_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  14
No. of month columes in wrong naming format: 0
Month columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

#### Check day and year columns based on month columns

In [15]:
#check columns for the day
month_column_list_1_1 = [col for col in filtered_date_columns_1 if "Month" in col]
print("No. of the day columes to be merged: ", len(month_column_list_1_1))

#create columns for the month and the year based on columns of the day
day_column_list_1_1 = [name.replace("Month", "Day") for name in month_column_list_1_1]
year_column_list_1_1 = [name.replace("Month", "Year") for name in month_column_list_1_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_day_columns = [name for name in day_column_list_1_1 if name not in df.columns]
print("No. of day columes in wrong naming format:", len(unmatched_day_columns))
print("Day columes in wrong naming format:", unmatched_day_columns)

unmatched_year_columns = [name for name in year_column_list_1_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  14
No. of day columes in wrong naming format: 0
Day columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [16]:
import numpy as np
# Convert 'NA' strings to np.nan
def convert_na(value):
    if pd.isna(value):  # using pandas function to check for NA
        return np.nan   # converting to numpy NaN
    else:
        return value

# Function to convert month from string or number to numeric month, handling missing values
def month_to_num(month):
    if pd.isna(month):
        return np.nan
    try:
        # Handle string representation
        if isinstance(month, str):
            datetime_object = pd.to_datetime(month, format='%b')
            return datetime_object.month
        # Handle numeric representation
        elif isinstance(month, (int, float)):
            return int(month)
    except ValueError:
        return np.nan
    
# Create a date column and assign values by combine date columns with similar header
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Year')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Month' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
        problematic_rows = []

        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    continue  # NaNs are already handled by NaT initialization
                else:
                    year = int(row[year_col])
                    month = int(month_to_num(row[month_col]))
                    day = int(row[day_col])
                    df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = pd.NaT

        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [17]:
# Convert 'NA' strings to np.nan
for col in filtered_date_columns_1:
    df.loc[:, col] = df[col].apply(convert_na)

# Iterating over columns and creating date columns
for col in year_column_list_1:
    create_date_column(df, col, filtered_date_columns_1)

print(df.info())
df.head()

/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-07-22' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018-11-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018-11-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2007-06-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2007-06-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2009-12-15' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2009-12-15' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-04-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-08-28' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-07-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-08-30' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()

/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-31' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_26070/2780974210.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
/tmp/ipykernel_26070/2780974210.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 675 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(309), int64(1), object(365)
memory usage: 1.3+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,Spring2019ConsentDateMonth,Spring2019ConsentDateDay,Spring2019ConsentDateYear,DateOfBloodDrawDay,...,ConsentSignedDate,DateConsentSignedDate,SamplesCollectionDate,LastHbA1cDate,WrittenInformedConsentDate,Type1DiabetesDiagnosisDate,FluVaccinationDateDate,DateTestsRunDate,StudyDrugReturnedDate,StudyDrugDispensedDate
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2007-06-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 675 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(309), int64(1), object(365)
memory usage: 1.3+ GB

In [111]:
df.to_csv('df.csv', index = False)

In [19]:
columns_to_drop = [col for col in filtered_date_columns_1]

print(len(columns_to_drop))
df.drop(columns=columns_to_drop, inplace=True)
df.info()

42
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 633 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(283), int64(1), object(349)
memory usage: 1.2+ GB

## 1.2 Month, Year

In [47]:
contain_list_0 = ['Birth'] 
# Example strings to exclude
not_contain_list_0 = []     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  4 columns:  ['BirthMonth', 'BirthYear', 'DateOfBirthMonth', 'DateOfBirthYear']
<class 'pandas.core.frame.DataFrame'>
Index: 234656 entries, 0 to 257399
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   BirthMonth        234550 non-null  object
 1   BirthYear         234556 non-null  float64
 2   DateOfBirthMonth  107 non-null     object
 3   DateOfBirthYear   107 non-null     float64
dtypes: float64(2), object(2)
memory usage: 9.0+ MB
None
Top 20 values for column BirthMonth:
BirthMonth
Aug    20599
Jul    20218
Mar    20152
Sep    20081
Oct    19909
May    19712
Jun    19512
Apr    19365
Dec    19154
Jan    19012
Nov    18705
Feb    18131
Name: count, dtype: int64

Top 20 values for column BirthYear:
BirthYear
2003.0    7649
2004.0    7605
2002.0    7543
2005.0    7527
2006.0    7341
2001.0    7253
2007.0    6910
2000.0    6804
1999.0    6496
2008.0    6472
1998.0    6058
2009.0    5950
1997.0    5665
2010.0    5323
1996.0    5120
2011.0    4862
1995.0    4592
1973.0    4500
1974.0    4499
2012.0    4472
Name: count, dtype: int64

Top 20 values for column DateOfBirthMonth:
DateOfBirthMonth
Sep    13
Dec    12
Jul    12
Feb    11
May     9
Jan     9
Apr     8
Jun     8
Mar     8
Aug     7
Oct     7
Nov     3
Name: count, dtype: int64

Top 20 values for column DateOfBirthYear:
DateOfBirthYear
2002.0    15
2003.0    14
1999.0    13
2001.0    12
2000.0     8
1998.0     8
1996.0     6
1991.0     3
1994.0     3
1997.0     3
2004.0     3
1993.0     3
1989.0     2
1986.0     2
1995.0     2
1988.0     2
1992.0     1
1982.0     1
1987.0     1
1977.0     1
Name: count, dtype: int64

'BirthMonth', 'BirthYear'
'MostRecentHbA1cMonth', 'MostRecentHbA1cYear'
'PolyuriaMonth', 'PolyuriaYear'
'PolydipsiaMonth', 'Polydipsiayear', 
'PolyphagiaMonth_dup2', 'PolyphagiaYear_dup2'
'FatigueMonth_dup2', 'FatigueYear_dup2'
'UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear'
'KetoacidosisMonth23', 'KetoacidosisYear23'
'DateOfBirthMonth', 'DateOfBirthYear'
'HbA1crecordDateMonth', 'HbA1crecordDateYear'

In [48]:
column_pairs = [
    ('BirthMonth', 'BirthYear'),
    ('DateOfBirthMonth', 'DateOfBirthYear'),
    ('HbA1crecordDateMonth', 'HbA1crecordDateYear')
]

In [49]:
# Modified convert_to_datetime function to handle missing columns
def convert_to_datetime(row, month_col, year_col):
    try:
        if pd.notna(row[month_col]) and pd.notna(row[year_col]):
            month = row[month_col].capitalize()  # Capitalize to match standard abbreviations
            year = int(row[year_col])
            return pd.to_datetime(f"{month} {year}", format='%b %Y').strftime('%b %Y')
        else:
            return np.nan
    except (ValueError, TypeError):
        return np.nan
    
def safe_convert_to_datetime(df, month_col, year_col):
    if month_col in df.columns and year_col in df.columns:
        return df.apply(lambda row: convert_to_datetime(row, month_col, year_col), axis=1)
    else:
        return pd.Series([np.nan] * len(df))

# Create a new DataFrame for the new columns
new_columns_df = pd.DataFrame()

In [50]:
# Iterate over each pair and create a new column
for month_col, year_col in column_pairs:
    new_col_name = month_col.replace('Month', '') + 'Date'
    new_columns_df[new_col_name] = safe_convert_to_datetime(df, month_col, year_col)

# Check for missing columns and print them
for month_col, year_col in column_pairs:
    if month_col not in df.columns or year_col not in df.columns:
        print(f"Column pair missing: {month_col}, {year_col}")

# Concatenate the new columns with the original DataFrame
df = pd.concat([df, new_columns_df], axis=1)

# Check the result
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 646 entries, MaskID to HbA1crecordDateDate
dtypes: float64(293), int64(1), object(352)
memory usage: 1.2+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,...,Polyuria_dup2Date,Polyphagia_dup2Date,Polyphagia_dup1Date,Polydipsia_dup2Date,Polydipsia_dup1Date,Ketoacidosis23Date,Fatigue_dup1Date,BirthDate,DateOfBirthDate,HbA1crecordDateDate
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 1987,NaN,NaN
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sep 1994,NaN,NaN
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 1970,NaN,NaN
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 2009,NaN,NaN
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sep 1982,NaN,NaN

In [57]:
#df = df.drop(['MostRecentHbA1cDate', 'UnexplainedWeightLossDate', 'Polyuria_dup1Date', 'Polyuria_dup2Date', 'Polyphagia_dup2Date', 'Polyphagia_dup1Date', 'Polydipsia_dup2Date', 'Ketoacidosis23Date', 'Polydipsia_dup1Date', 'Fatigue_dup1Date'], axis=1)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 630 entries, MaskID to HbA1crecordDateDate
dtypes: float64(280), int64(1), object(349)
memory usage: 1.2+ GB

In [59]:
df.to_csv('df.csv', index = False)

In [ ]:
columns_to_drop = [col for pair in column_pairs for col in pair]

# Drop the columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)
df.info()

## 1.3 DD, MM, YYYY

In [62]:
# Correct headers of columns that did not follow the naming rules.
#df.rename(columns={'E1aDateofOnsetYYYY': 'E1aDateOfOnsetYYYY'}, inplace=True)

In [65]:
contain_list_0 = ['E1aDateOfOnsetYYYY'] 
# Example strings to exclude
not_contain_list_0 = []     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  0 columns:  []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame
None

In [66]:
# Filter all columns with "DD", "MM", or "YYYY"
contain_list_1 = ["DD", "MM", "YYYY"] 
# Example strings to exclude
not_contain_list_1 = ['Autoimmuned', 'MMTT', 'TTT', 'TimeOfCollection', 'TimeResultsProcessedByLab']     

# Converting each string in the lists to lower case
#contain_list_1_low = [string.lower() for string in contain_list_1]
#not_contain_list_1_low = [string.lower() for string in not_contain_list_1]

# Filtering columns with case-insensitive comparison
filtered_date_columns_1 = [col for col in df.columns if 
                    any(contain in col for contain in contain_list_1) and 
                    all(not_contain not in col for not_contain in not_contain_list_1)]

print("Found ", len(filtered_date_columns_1), "columns: ", filtered_date_columns_1)

filtered_df = df[filtered_date_columns_1]

# Output the filtered DataFrame
print(filtered_df.info())

Found  9 columns:  ['DateRecordedDD1', 'DateRecordedMM1', 'DateRecordedYYYY1', 'DateRecordedDD2', 'DateRecordedMM2', 'DateRecordedYYYY2', 'DateRecordedDD3', 'DateRecordedMM3', 'DateRecordedYYYY3']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DateRecordedDD1    855 non-null    float64
 1   DateRecordedMM1    855 non-null    object
 2   DateRecordedYYYY1  854 non-null    float64
 3   DateRecordedDD2    856 non-null    float64
 4   DateRecordedMM2    856 non-null    object
 5   DateRecordedYYYY2  855 non-null    float64
 6   DateRecordedDD3    856 non-null    float64
 7   DateRecordedMM3    856 non-null    object
 8   DateRecordedYYYY3  855 non-null    float64
dtypes: float64(6), object(3)
memory usage: 17.8+ MB
None

In [67]:
#check columns for the day
day_column_list_1 = [col for col in filtered_date_columns_1 if "DD" in col]
print("No. of the day columes to be merged: ", len(day_column_list_1))

#create columns for the month and the year based on columns of the day
month_column_list_1 = [name.replace("DD", "MM") for name in day_column_list_1]
year_column_list_1 = [name.replace("DD", "YYYY") for name in day_column_list_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list_1 if name not in df.columns]
print("No. of month columes in wrong naming format:", len(unmatched_month_columns))
print("Month columes in wrong naming format:", unmatched_month_columns)

unmatched_year_columns = [name for name in year_column_list_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  3
No. of month columes in wrong naming format: 0
Month columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [68]:
#check columns for the day
month_column_list_1_1 = [col for col in filtered_date_columns_1 if "MM" in col]
print("No. of the day columes to be merged: ", len(month_column_list_1_1))

#create columns for the month and the year based on columns of the day
day_column_list_1_1 = [name.replace("MM", "DD") for name in month_column_list_1_1]
year_column_list_1_1 = [name.replace("MM", "YYYY") for name in month_column_list_1_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_day_columns = [name for name in day_column_list_1_1 if name not in df.columns]
print("No. of day columes in wrong naming format:", len(unmatched_day_columns))
print("Day columes in wrong naming format:", unmatched_day_columns)

unmatched_year_columns = [name for name in year_column_list_1_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  3
No. of day columes in wrong naming format: 0
Day columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [69]:
import pandas as pd
import numpy as np

# Convert 'NA' strings to np.nan
def convert_na(value):
    if value == 'NA':
        return np.nan
    else:
        return value

# Function to convert month from string to number, handling missing values
def month_to_num(month_str):
    if pd.isna(month_str):
        return np.nan
    try:
        datetime_object = pd.to_datetime(month_str, format='%b')
        return datetime_object.month
    except ValueError:
        return np.nan
    
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('YYYY')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'DD' + suffix
    month_col = base_col_name + 'MM' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        problematic_rows = []
        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    df.at[index, date_col] = np.nan
                else:
                    year = int(row[year_col])
                    month = int(month_to_num(row[month_col]))
                    day = int(row[day_col])
                    datetime_obj = pd.to_datetime(f"{year}-{month:02d}-{day:02d}")
                    df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = np.nan
        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [70]:
# Convert 'NA' strings to np.nan
for col in filtered_date_columns_1:
    df[col] = df[col].apply(convert_na)

original_cols = df.columns.tolist()

# Iterating over columns and creating date columns
for col in filtered_date_columns_1:
    if 'YYYY' in col:
        create_date_column(df, col, original_cols)

print(df.info())
df.head()

/tmp/ipykernel_26070/327579729.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-07' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_26070/327579729.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-08' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_26070/327579729.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-09' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 633 entries, MaskID to DateRecordedDate3
dtypes: float64(280), int64(1), object(352)
memory usage: 1.2+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,...,FluVaccinationDateDate,DateTestsRunDate,StudyDrugReturnedDate,StudyDrugDispensedDate,BirthDate,DateOfBirthDate,HbA1crecordDateDate,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,May 1987,NaN,NaN,NaN,NaN,NaN
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Sep 1994,NaN,NaN,NaN,NaN,NaN
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Aug 1970,NaN,NaN,NaN,NaN,NaN
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Jan 2009,NaN,NaN,NaN,NaN,NaN
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Sep 1982,NaN,NaN,NaN,NaN,NaN

In [72]:
columns_to_drop = [col for col in filtered_date_columns_1]

len(columns_to_drop)

# Drop the columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 624 entries, MaskID to DateRecordedDate3
dtypes: float64(274), int64(1), object(349)
memory usage: 1.2+ GB

In [71]:
df.to_csv('df.csv', index = False)

## 1.4 day, mon, yea

'ChangeInDrugStatusEffectiveday_dup1', 'ChangeInDrugStatusEffectivemon_dup1', 'ChangeInDrugStatusEffectiveyea_dup1'
'ChangeInDrugStatusEffectiveday_dup2', 'ChangeInDrugStatusEffectivemon_dup2', 'ChangeInDrugStatusEffectiveyea_dup2'
'ParticipantDateDispensedDay1_1', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedYea1_1'
'ParticipantDateDispensedDay2_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedYea2_1'
'ParticipantDateDispensedDay3_1', 'ParticipantDateDispensedMon3_1', 'ParticipantDateDispensedYea3_1'
'ParticipantDateDispensedDay4_1', 'ParticipantDateDispensedMon4_1', 'ParticipantDateDispensedYea4_1'
'ParticipantDateDispensedDay5_1', 'ParticipantDateDispensedMon5_1', 'ParticipantDateDispensedYea5_1
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea'
'ADHPsoriasisDateofDiagnosisDay', 'ADHPsoriasisDateofDiagnosisMon', 'ADHPsoriasisDateofDiagnosisYea'

In [73]:
contain_list_0 = ['mon'] 
# Example strings to exclude
not_contain_list_0 = ['month', 'mont', 'Monitor', 'Mono', 'PastSixMon', 'Whendidthepneumoniaoccur', 'ReasonsNotInterested', 'Monetary']     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  4 columns:  ['MechanisticSampleCollectionMon', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedMon3_1']
<class 'pandas.core.frame.DataFrame'>
Index: 3923 entries, 190 to 257195
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MechanisticSampleCollectionMon  3664 non-null   object
 1   ParticipantDateDispensedMon1_1  259 non-null    object
 2   ParticipantDateDispensedMon2_1  195 non-null    object
 3   ParticipantDateDispensedMon3_1  110 non-null    object
dtypes: object(4)
memory usage: 153.2+ KB
None
Top 20 values for column MechanisticSampleCollectionMon:
MechanisticSampleCollectionMon
Apr    376
Jun    335
May    334
Mar    332
Dec    331
Jul    317
Feb    308
Aug    292
Jan    290
Oct    278
Nov    277
Sep    194
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon1_1:
ParticipantDateDispensedMon1_1
Aug    33
Sep    29
Oct    26
Jun    25
Dec    25
Jul    23
Nov    22
Mar    18
Feb    17
May    14
Apr    14
Jan    13
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon2_1:
ParticipantDateDispensedMon2_1
Aug    24
Nov    19
Sep    19
Jul    18
Oct    17
Dec    16
Jun    15
Apr    15
Feb    14
Jan    14
Mar    13
May    11
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon3_1:
ParticipantDateDispensedMon3_1
Aug    17
Jul    11
Oct    11
Mar    11
Nov     9
Apr     9
Jun     8
May     7
Feb     7
Dec     7
Sep     7
Jan     6
Name: count, dtype: int64

In [74]:
col_list = ['ParticipantDateDispensedDay1_1', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedYea1_1',
'ParticipantDateDispensedDay2_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedYea2_1',
'ParticipantDateDispensedDay3_1', 'ParticipantDateDispensedMon3_1', 'ParticipantDateDispensedYea3_1',
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea']

In [75]:
import pandas as pd
import numpy as np

# Convert 'NA' strings to np.nan
def convert_na(value):
    if value == 'NA':
        return np.nan
    else:
        return value

# Function to convert month from string to number, handling missing values
def month_to_num(month_str):
    if pd.isna(month_str):
        return np.nan
    try:
        datetime_object = pd.to_datetime(month_str, format='%b')
        return datetime_object.month
    except ValueError:
        return np.nan

def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Yea')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Mon' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        problematic_rows = []
        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    df.at[index, date_col] = np.nan
                else:
                    year = int(row[year_col])
                    month = int(month_to_num(row[month_col]))
                    day = int(row[day_col])
                    datetime_obj = pd.to_datetime(f"{year}-{month:02d}-{day:02d}")
                    df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = np.nan
        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [76]:
# Convert 'NA' strings to np.nan
for col in col_list:
    df[col] = df[col].apply(convert_na)

original_cols = df.columns.tolist()

# Iterating over columns and creating date columns
for col in col_list:
    if 'Yea' in col:
        create_date_column(df, col, original_cols)

print(df.info())
df.head()

/tmp/ipykernel_26070/2020594204.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_26070/2020594204.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_26070/2020594204.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-08-12' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_26070/2020594204.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2011-07-19' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 628 entries, MaskID to MechanisticSampleCollectionDate
dtypes: float64(274), int64(1), object(353)
memory usage: 1.2+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,...,BirthDate,DateOfBirthDate,HbA1crecordDateDate,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,May 1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,Sep 1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,Aug 1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,Jan 2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,Sep 1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
len(col_list)

# Drop the columns from the DataFrame
df.drop(columns=col_list, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 616 entries, MaskID to MechanisticSampleCollectionDate
dtypes: float64(269), int64(1), object(346)
memory usage: 1.2+ GB

In [78]:
df.to_csv('df.csv', index = False)

## 1.5 D, M, Y

DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY'

In [80]:
contain_list_0 = ['DateSignedInformedConsentForm'] 
# Example strings to exclude
not_contain_list_0 = ['Year', 'you', 'YYYY', 'YES', 'yea', 'ye']     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col for contain in contain_list_0) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  3 columns:  ['DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY']
<class 'pandas.core.frame.DataFrame'>
Index: 19971 entries, 12 to 257380
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DateSignedInformedConsentFormM  19971 non-null  object
 1   DateSignedInformedConsentFormD  19971 non-null  float64
 2   DateSignedInformedConsentFormY  19971 non-null  float64
dtypes: float64(2), object(1)
memory usage: 624.1+ KB
None
Top 20 values for column DateSignedInformedConsentFormM:
DateSignedInformedConsentFormM
Feb    2274
Jan    2163
Mar    2131
Nov    1767
Jul    1657
Dec    1557
Oct    1551
Aug    1512
Apr    1453
Jun    1419
May    1283
Sep    1204
Name: count, dtype: int64

Top 20 values for column DateSignedInformedConsentFormD:
DateSignedInformedConsentFormD
12.0    826
10.0    820
20.0    798
27.0    783
19.0    739
21.0    720
28.0    708
14.0    699
25.0    691
22.0    682
13.0    680
5.0     667
4.0     660
29.0    655
26.0    654
7.0     635
18.0    631
23.0    629
11.0    625
15.0    624
Name: count, dtype: int64

Top 20 values for column DateSignedInformedConsentFormY:
DateSignedInformedConsentFormY
2018.0    14435
2019.0     4798
2017.0      733
2012.0        4
2014.0        1
Name: count, dtype: int64

In [81]:
import pandas as pd

def create_date_from_components(row):
    # Extracting year, month, and day from the row
    year = row['DateSignedInformedConsentFormY']
    month = row['DateSignedInformedConsentFormM']
    day = row['DateSignedInformedConsentFormD']

    # Check for NaN values and convert floats to integers
    if pd.isna(year) or pd.isna(month) or pd.isna(day):
        return pd.NaT
    try:
        year = int(year)
        day = int(day)
        # Constructing the date string
        date_str = f"{year}-{month}-{day:02d}"
        # Converting to datetime
        return pd.to_datetime(date_str, format='%Y-%b-%d').date()
    except (ValueError, TypeError):
        return pd.NaT

# Apply the function to each row to create the new date column
df['DateSignedInformedConsentFormDate'] = df.apply(create_date_from_components, axis=1)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 617 entries, MaskID to DateSignedInformedConsentFormDate
dtypes: float64(269), int64(1), object(347)
memory usage: 1.2+ GB

In [83]:
# Drop the columns from the DataFrame
df.drop(columns=['DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 614 entries, MaskID to DateSignedInformedConsentFormDate
dtypes: float64(267), int64(1), object(346)
memory usage: 1.2+ GB

In [84]:
df.to_csv('df.csv', index = False)

## 1.6 Columns without indication of day, month, year

MonitoringSchedulingChangeEffe
IfyesDateCOVID19TestAdminister
DateParticipantwascontacted
DateSignedNEWInformedConsentFo
DateControlBecameAutoantibodyP
'InterferonGammaReleaseAssayIGR3', 'InterferonGammaReleaseAssayIGR', 'InterferonGammaReleaseAssayIGR2'

In [91]:
contain_list_0 = ['InterferonGammaReleaseAssay'] 
# Example strings to exclude
not_contain_list_0 = []     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col for contain in contain_list_0) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  3 columns:  ['InterferonGammaReleaseAssayIGR3', 'InterferonGammaReleaseAssayIGR', 'InterferonGammaReleaseAssayIGR2']
<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 1464 to 257395
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   InterferonGammaReleaseAssayIGR3  107 non-null    object
 1   InterferonGammaReleaseAssayIGR   107 non-null    float64
 2   InterferonGammaReleaseAssayIGR2  107 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.3+ KB
None
Top 20 values for column InterferonGammaReleaseAssayIGR3:
InterferonGammaReleaseAssayIGR3
Mar    16
May    15
Jun    11
Feb    10
Apr    10
Jul     9
Jan     8
Aug     8
Dec     6
Sep     5
Oct     5
Nov     4
Name: count, dtype: int64

Top 20 values for column InterferonGammaReleaseAssayIGR:
InterferonGammaReleaseAssayIGR
17.0    8
15.0    6
3.0     6
16.0    6
22.0    6
30.0    5
18.0    5
6.0     5
24.0    5
19.0    5
23.0    5
27.0    4
10.0    4
7.0     3
5.0     3
13.0    3
8.0     3
12.0    3
29.0    2
21.0    2
Name: count, dtype: int64

Top 20 values for column InterferonGammaReleaseAssayIGR2:
InterferonGammaReleaseAssayIGR2
2015.0    65
2016.0    41
2014.0     1
Name: count, dtype: int64

In [92]:
date_dict_1 ={ 'DateSignedNEWInformedConsentFoDate': ['DateSignedNEWInformedConsentFo', 'DateSignedNEWInformedConsentFo2', 'DateSignedNEWInformedConsentFo3'],
              'InterferonGammaReleaseAssayIGRDate': ['InterferonGammaReleaseAssayIGR', 'InterferonGammaReleaseAssayIGR3', 'InterferonGammaReleaseAssayIGR2']
             }

In [93]:
# Function to convert month from short name to number
def month_to_num(short_month):
    return {
        'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
        'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
    }[short_month]

# Iterating over the dictionary to create new columns in filtered_df
for date_col, cols in date_dict_1.items():
    day_col, month_col, year_col = cols

    # Create a mask for rows where none of the day, month, or year values are missing
    mask = df[[day_col, month_col, year_col]].notna().all(axis=1)

    # Apply the mask to filter out rows with missing values
    valid_rows = df[mask]

    # Iterate over each row to handle individual errors
    for index, row in valid_rows.iterrows():
        try:
            # Combine the date components for the current row
            combined_date = str(int(row[day_col])) + '/' + \
                            str(month_to_num(row[month_col])) + '/' + \
                            str(int(row[year_col]))
            
            # Convert to datetime
            df.at[index, date_col] = pd.to_datetime(combined_date, format='%d/%m/%Y')
        except ValueError as e:
            # Print the problematic date and its index
            print(f"Error at index {index}: {combined_date}")
            print(f"Error message: {e}")

# Display the new DataFrame
print(df.info())
df.head()

Error at index 12142: 31/4/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 128495: 31/2/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 150436: 31/4/2014
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 155147: 31/6/2016
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 180518: 0/9/2013
Error message: time data "0/9/2013" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 230442: 31/4/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 616 entries, MaskID to InterferonGammaReleaseAssayIGRDate
dtypes: datetime64[ns](2), float64(267), int64(1), object(346)
memory usage: 1.2+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,...,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate,DateSignedInformedConsentFormDate,DateSignedNEWInformedConsentFoDate,InterferonGammaReleaseAssayIGRDate
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2015-06-29,NaT
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2015-08-11,NaT
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2016-11-21,NaT
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2016-10-21,NaT

In [94]:
columns_to_drop = [column for sublist in date_dict_1.values() for column in sublist]
print(len(columns_to_drop))

# Drop the columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)
df.info()

6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 610 entries, MaskID to InterferonGammaReleaseAssayIGRDate
dtypes: datetime64[ns](2), float64(263), int64(1), object(344)
memory usage: 1.2+ GB

In [95]:
df.to_csv('df.csv', index = False)

## 1.7 time

'OGTTTestStartTimeHrs', 'OGTTTestStartTimeMins'
'MMTTTestStartTimeHrs', 'MMTTTestStartTimeMins'
'TimeOfCollectionHH_dup2', 'TimeOfCollectionMM_dup2'
'TimeOfCollectionHH_dup3', 'TimeOfCollectionMM_dup3'
'TimeOfCollectionHH_dup1', 'TimeOfCollectionMM_dup1'
'TimeResultsProcessedByLabHH_dup2', 'TimeResultsProcessedByLabMM_dup2'
'TimeResultsProcessedByLabHH_dup3', 'TimeResultsProcessedByLabMM_dup3'
'TimeResultsProcessedByLabHH_dup1', 'TimeResultsProcessedByLabMM_dup1'

In [99]:
contain_list_0 = ['TimeResultsProcessedByLabHH'] 
# Example strings to exclude
not_contain_list_0 = ['HrsAft', '24Hrs', 'ADHH']     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col for contain in contain_list_0) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  1 columns:  ['TimeResultsProcessedByLabHH']
<class 'pandas.core.frame.DataFrame'>
Index: 827 entries, 298 to 257098
Data columns (total 1 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TimeResultsProcessedByLabHH  827 non-null    float64
dtypes: float64(1)
memory usage: 12.9 KB
None
Top 20 values for column TimeResultsProcessedByLabHH:
TimeResultsProcessedByLabHH
9.0     126
10.0    118
11.0    116
12.0     92
13.0     80
8.0      76
14.0     45
1.0      43
15.0     33
7.0      24
16.0     22
17.0     12
2.0       6
18.0      6
0.0       6
6.0       6
3.0       5
22.0      4
23.0      3
5.0       2
Name: count, dtype: int64

In [100]:
time_dict = {'OGTTTestStartTime': ['OGTTTestStartTimeHrs', 'OGTTTestStartTimeMins'],
             'MMTTTestStartTime': ['MMTTTestStartTimeHrs', 'MMTTTestStartTimeMins'],
             'TimeOfCollection': ['TimeOfCollectionHH', 'TimeOfCollectionMM'],
             'TimeResultsProcessedByLab': ['TimeResultsProcessedByLabHH', 'TimeResultsProcessedByLabMM']
            }

In [101]:
def create_time_columns(df, time_dict):
    for new_col, time_cols in time_dict.items():
        hour_col, minute_col = time_cols

        if hour_col in df.columns and minute_col in df.columns:
            # Creating a time column with handling missing values and converting to integers
            df[new_col] = df.apply(lambda row: 
                                   f"{int(row[hour_col]):02d}:{int(row[minute_col]):02d}"
                                   if pd.notna(row[hour_col]) and pd.notna(row[minute_col]) and 
                                      row[hour_col] != '.' and row[minute_col] != '.'
                                   else np.nan, axis=1)
            # Converting string to datetime.time object
            df[new_col] = pd.to_datetime(df[new_col], format='%H:%M', errors='coerce').dt.time
        else:
            print(f"Columns for '{new_col}' not found. Hour column: {hour_col}, Minute column: {minute_col}")

    return df

df = create_time_columns(df, time_dict)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 614 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](2), float64(263), int64(1), object(348)
memory usage: 1.2+ GB
None

,MaskID,Visit,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,...,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate,DateSignedInformedConsentFormDate,DateSignedNEWInformedConsentFoDate,InterferonGammaReleaseAssayIGRDate,OGTTTestStartTime,MMTTTestStartTime,TimeOfCollection,TimeResultsProcessedByLab
0,200000,Screening,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,200003,Screening,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,2015-06-29,NaT,NaT,NaT,NaT,NaT
2,200004,Screening,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,2015-08-11,NaT,NaT,NaT,NaT,NaT
3,200007,Screening,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,2016-11-21,NaT,NaT,NaT,NaT,NaT
4,200010,Screening,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,2016-10-21,NaT,NaT,NaT,NaT,NaT

In [102]:
columns_to_drop = [column for sublist in time_dict.values() for column in sublist]
print(len(columns_to_drop))

# Drop the columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)
df.info()

8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 606 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](2), float64(255), int64(1), object(348)
memory usage: 1.2+ GB

In [103]:
df.to_csv('df.csv', index = False)

In [104]:
# SAVE the last 50 columns to check results
df_last_50 = df.iloc[:, -50:]

df_last_50.to_csv('data columns.csv', index=False)